.building {
  width: 80%;
  min-width: 350px;
  max-width: 400px;
  height: auto;
  position: absolute;
  bottom: 0px;
  /* margin: 0 auto; */
  left: 50%;
  transform: translateX(-50%);

  /* background-color: #9da8b1; */
  /* background-image: linear-gradient(to top, #08408e, #083381, #082774, #081a66, #080c59); */
}

.flag {
  background-color: #828d96;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 0 auto;
}

.flag-pole {
  background-color: #828d96;
  width: 10px;
  height: 70px;
  margin: 0 auto;

}

.roof-layer-2 {
  width: 45%;
  height: 60px;
  margin: 0 auto;

  background-color: #828d96;

}

.roof-layer-1 {
  width: 85%;
  height: 60px;
  margin: 0 auto;

  background-color: #828d96;

}

.building-main {
  width: 100%;
  height: auto;
  background-color: #9da8b1;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;

  padding: 30px;

}

.window {
  width: 60px;
  height: 60px;
  background-color: rgb(95, 141, 184);
  cursor: pointer;
  border-bottom: solid 2px white;
  border-right: solid 2px white;
}

.window:hover {
  transform: scale(1.1);
}

.floor {
  border-top: solid 5px rgb(2, 46, 71);
}

.g-floor {
  width: 100%;
  height: 200px;
  bottom: 0;
  position: relative;
  background-color: #9da8b1;
}

.tree-holder {
  display: none;
  position: absolute;
  width: 150px;
  height: 150px;
  bottom: -5px;
}

.left-tree-holder {
  left: 10px;
}

.right-tree-holder {
  right: 10px;
}

.tree {
  position: absolute;
  left: 10px;
  height: 150px;
  bottom: 0px;
  display: block;
  
}

.company-entrance {
  width: 35%;
  min-width: 250px;
  height: 150px;
  background-color: #175a80; 
  /* window color too */
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  border-top: 8px solid #090977;
}

.company-building-name-board {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  width: 150px;
  height: 40px;
  border: 3px solid rgb(73, 86, 131);
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.company-building-name {
  text-align: center;
  font-weight: 550;
}

.doors {
  position: absolute;
  width: 70%;
  height: 110px;
  background-color: white;
  bottom: 0;
  /* The following two are to centralise the entrance */
  left: 50%;
  transform: translateX(-50%);
  /* background-color: rgb(2 46 71); */
  cursor: pointer;
}

.door {
  width: 50%;
  height: 110px;
  background-color: rgb(2 46 71);
  position: absolute;
  bottom: 0;
  transition: all 1.5s linear;
}

.left-door {
  left: 0;
  border-right: 2px solid rgb(151, 151, 182);  
  transform-origin: left;
}

.right-door {
  right: 0;
  border-left: 2px solid rgb(151, 151, 182);
  transform-origin: right;
}

.leftDoorOpen
{
  /*prespective creates the door open effect*/
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(-120deg);
}

.rightDoorOpen
{
  transform: perspective(1200px) translateZ(0px) translateX(0px) translateY(0px) rotateY(120deg);
}

.middle-door {
  display: none;
  border-right: 2px solid rgb(151, 151, 182);
  border-left: 2px solid rgb(168, 168, 194);
}

.door-handle {
  width: 3px;
  height: 12px;
  background-color: white;
  position: absolute;
  right: 4px;
  top: 50%;
  transform: translateY(-50%);
}

.right-door-handle {
  left: 4px;
}

/* @media only screen and (min-width: 700px) {
  .door {
    width: 33%;
  }
  
  .left-door {
    border-right: none;
  }
  
  .middle-door {
    display: block;
  }
  
} */

/* @media only screen and (min-width: 900px) {
  .tree-holder {
    display: block;
  }
} */